{% extends "layout.html" %}

{% block contenido%}
<h1 class="text-info">Todos los participantes:</h1>
{% for usuario in usuarios%}
<div class="container">
    <div class="row">
    <a  href="{% url 'usuarioPorId' id=usuario.id %}"style="text-decoration: none " class="card mb-3 mt-3">
<p class="text-info no-link">Nombre:</p><p>{{usuario.nombre}}</p>
<br>
<p class="text-info">Apellido:</p><p>{{usuario.apellido}}</p>
<br>
<p class="text-info">Apodo:</p><p>{{usuario.apodo}}</p>
<br>
<p class="text-info">País:</p><p>{{usuario.pais}}</p>
<br>
        </a>
</div>
</div>

{%endfor%}





{% endblock %}